<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <title>CreativesConnect</title>
        <link rel="icon" href="../static/images/icon.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/styles/general.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/creatives.css">
    </head>
    <body>
        <!-- The header -->
        <header class="container-fluid border">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-2 logo">
                    <img src="../static/images/logo2.png" alt="logo">
                </div>
                <!--the nav bar-->
                <div class="col-sm-5 col-md-6 col-lg-7">
                    {{ nav.main_nav.render() }}
                </div>
                <div class="col-sm-1 col-md-2 col-lg-3 login">
                    <button type="button" class="login_button">Log in</button>
                    <button type="button" class="sign_up">Sign up</button>
                </div>
            </div>
        </header>
        <section class="container-fluid px-4 border">
            <h1 class="text-center h2 text-uppercase">Creatives</h1>
            <!-- The search bar -->
            <div class="row justify-content-center filters">
                <div class="d-flex justify-content-end align-items-center col-1">
                    <img src="../static/images/funnel.png" alt="funnel symbol">
                    Filters:
                </div>
                <div class="col-2 d-flex align-items-end locations dropdown">
                    <button class="text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        Select location
                    </button>
                    <ul class="dropdown-menu">
                        <!-- Fetch locations in storage -->
                        <li>
                            <label class="checkbox_label">Two
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox_label">Two
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="col-2 d-flex align-items-end skills dropdown">
                    <button class="text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        Select skills
                    </button>
                    <ul class="dropdown-menu">
                        <!-- Fetch skills in storage -->
                        <li>
                            <label class="checkbox_label">Two
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="checkbox_label">Two
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="col-2 search d-flex justify-content-end align-items-center"><button type="button" class="search_btn">Search</button></div>
            </div>
            <!-- Javascript loads search content here 
            <div class="creatives mt-5 mb-5 border d-flex flex-wrap justify-content-center">
                <ul>
                <li>
                    <div class="mx-3 mb-5 c_col">
                        <img class="p-2 profile_image rounded-circle img-fluid float-start" src="https://images.unsplash.com/photo-1608434536950-d7d084398bf5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=728&q=80" alt="profile image">
                        <div class="name mx-2 mt-3">name</div>
                        <img class="cover_image img-fluid mt-4" src="https://images.unsplash.com/photo-1589251204996-3367cc27f084?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=555&q=80" alt="cover photo">
                        <div class="details">
                            <div class="m-2 text-center">skills: photography, illustration</div>
                            <button>View profile</button>
                        </div>    
                    </div>
                </li>
                </ul>
            </div>
        -->
        </section>
        <footer class="border">
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>

</html>